Tests: test-initscripts
Restrictions: allow-stderr, isolation-machine, needs-root, skippable
Depends: dpdk [amd64 arm64 i386 ppc64el], gawk, mount, systemd, sysvinit-utils, iproute2

Tests: test-linkage
Restrictions: allow-stderr, skippable
Depends: libdpdk-dev [amd64 arm64 i386 ppc64el], libc6, libc6-dev, gcc,
 grep, libpcap-dev, libxenstore3.0 [amd64 arm64 i386], pax-utils, pkg-config

Tests: test-autotest
Restrictions: allow-stderr, isolation-machine, needs-root, skippable
Depends: dpdk-dev [amd64 arm64 i386 ppc64el], python3, python3-pexpect
