*.debhelper.log
*.substvars
*.postinst.debhelper
*.postrm.debhelper
*.prerm.debhelper
*.dkms.debhelper
build/
control.modules
dpdk-dev/
dpdk-doc/
dpdk-igb-uio-dkms/
dpdk-modules-*/
dpdk-rte-kni-dkms/
dpdk/
files
libdpdk-dev/
libethdev4/
librte-acl2/
librte-cfgfile2/
librte-cmdline2/
librte-cryptodev1/
librte-distributor1/
librte-eal2/
librte-hash2/
librte-ip-frag1/
librte-jobstats1/
librte-kni2/
librte-kvargs1/
librte-lpm2/
librte-mbuf2/
librte-mempool2/
librte-meter1/
librte-pdump1/
librte-pipeline3/
librte-pmd-af-packet1/
librte-pmd-bnxt1/
librte-pmd-bond1/
librte-pmd-cxgbe1/
librte-pmd-e1000-1/
librte-pmd-ena1/
librte-pmd-enic1/
librte-pmd-fm10k1/
librte-pmd-i40e1/
librte-pmd-ixgbe1/
librte-pmd-null-crypto1/
librte-pmd-null1/
librte-pmd-pcap1/
librte-pmd-ring2/
librte-pmd-vhost1/
librte-pmd-virtio1/
librte-pmd-vmxnet3-uio1/
librte-pmd-xenvirt1/
librte-port3/
librte-power1/
librte-reorder1/
librte-ring1/
librte-sched1/
librte-table2/
librte-timer1/
librte-vhost3/
VERSION
