*.debhelper.log
*.substvars
*.postinst.debhelper
*.postrm.debhelper
*.prerm.debhelper
*.dkms.debhelper
build/
control.modules
dpdk-dev/
dpdk-doc/
dpdk-igb-uio-dkms/
dpdk-modules-*/
dpdk-rte-kni-dkms/
dpdk/
files
libdpdk-dev/
librte*/
libethdev*/
VERSION
